<div class="container">
    <div class="row">
        {{#each travels}}
        <div class="col-3">

            <div class="card">
                {{#each travelImages}}
                {{#if profile}}
                <a href="/destinos/{{travelId}}" ><img src="/imagen/{{path}}" class="card-img-top" height="150px"></a>
                {{/if}}
                {{/each}}
                <div class="card-body">
                    <h5 class="card-title">{{destino}}</h5>
                    <p class="card-text">Precio: {{precio}} €</p>
                    <p>Creado por:{{user.name}}</p>
                    
                </div>
            </div>

        </div>

        {{/each}}

    </div>
</div>